*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  
}

#chatBody{
  padding: 10px;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.chatList{
  width: 30%;
  height: 100%;
  border-right: 2px solid gainsboro;
}

.myProfile{
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid gainsboro;
}
.myName{
  font-size: 22px;
  font-weight: bold;
}

.myProfileicons{
  font-size: 30px;
  margin: 10px;
  
}
.myProfileicons.purple{
  color: purple;
  margin: 30px;
  font-size: 40px;
}

.myChatList{
}
.myChatList li{
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 20px;
  padding-left: 10px;
  height: 100px;
  border: 2px solid gainsboro;
  border-collapse: collapse;
}

.myChatList li:hover{
  border-left: 10px solid purple;
}
.chatPic{
  font-size: 70px;
  margin-right: 10px;
}

.chatContent{
  width: 70%;
  height: 100%;
}
.chatTitle{
  display: flex;
  height: 90px;
  border-bottom: 2px solid gainsboro;
}
.title-name{
  width: 92%;
  display: flex;
  align-items: center;
  font-size: 32px;
}
.title-icons{
  width: 8%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chatState{
  height: 80%;
  padding: 20px;
}

.chatInput{
  display: flex;
  align-items: center;
  border-top: 2px solid gainsboro;
}


.chatInput input{
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  height: 52px;
  margin: 20px;
  width: 95%;
}
.chatInput button{
  font-size: 28px;
  border: none;
  background-color: transparent;
}
.send{
}
